In [1]:
import pandas as pd
import numpy as np
import re
import operator

In [3]:
borrowed_file = "/home/mbr/Financial_Attitudes_Clustering/Data/Raw/borrowed_money/borrowed_money.csv"

In [15]:
borrowed_data = pd.read_csv(borrowed_file)
borrowed_data.rename(columns = {'2011 [YR2011]': 2011, '2014 [YR2014]': 2014, '2017 [YR2017]': 2017, '2021 [YR2021]': 2021, '2022 [YR2022]': 2022}, inplace = True)
# drop data without country code (those are the description rows)
borrowed_data.dropna(subset = ['Country Code'], inplace = True)

In [17]:
# change strings to numeric values, use NaN wherever data not available
value_columns = [2011, 2014, 2017, 2021, 2022]
borrowed_data[value_columns] = borrowed_data[value_columns].apply(pd.to_numeric, errors = 'coerce')

In [40]:
# the number of series in the data frame
no_of_series = borrowed_data["Series Code"].unique().shape[0]

In [46]:
# codes of the countries in the database
# some of those are aggregates
codes = borrowed_data["Country Code"].unique()
for code in codes:
    economy_borrowed_data = borrowed_data[borrowed_data["Country Code"] == code]
    # TODO I want to know for each country:
    # 1) how many missing series
    # 2) what percentage of series has only one value
    # 3) what percentage of series has two or more values

In [47]:
economy_borrowed_data

,Country Name,Country Code,Series Name,Series Code,2011,2014,2017,2021,2022
21594,World,WLD,Borrowed any money (% age 15+),borrow.any,NaN,50.49,47.47,52.87,NaN
21595,World,WLD,Borrowed any money from a formal financial ins...,fin22a.c.MM.d,NaN,NaN,NaN,29.18,NaN
21596,World,WLD,Borrowed any money from a formal financial ins...,fin22a.c.MM.d.1,NaN,NaN,NaN,27.70,NaN
21597,World,WLD,Borrowed any money from a formal financial ins...,fin22a.c.MM.d.12,NaN,NaN,NaN,31.00,NaN
21598,World,WLD,Borrowed any money from a formal financial ins...,fin22a.c.MM.d.7,NaN,NaN,NaN,23.56,NaN
...,...,...,...,...,...,...,...,...,...
21707,World,WLD,"Borrowed to start, operate, or expand a farm o...",fin21.t.d.2017.5,NaN,8.29,6.56,NaN,NaN
21708,World,WLD,"Borrowed to start, operate, or expand a farm o...",fin21.t.d.2017.9,NaN,NaN,NaN,NaN,NaN
21709,World,WLD,"Borrowed to start, operate, or expand a farm o...",fin21.t.d.2017.6,NaN,6.16,6.27,NaN,NaN
21710,World,WLD,"Borrowed to start, operate, or expand a farm o...",fin21.t.d.2017.10,NaN,NaN,NaN,NaN,NaN
21711,World,WLD,"Borrowed to start, operate, or expand a farm o...",fin21.t.d.2017.3,NaN,5.30,5.13,NaN,NaN

In [34]:
# rows with no data in the value columns, that is in the columns representing data from each wave
no_data_rows = borrowed_data[borrowed_data[value_columns].isna().all(axis = 1)]
no_data_rows["Series Name"].unique()

array(['Borrowed any money using a mobile money account (% age 15+)',
       'Borrowed for education or school fees, rural (% age 15+)',
       'Borrowed for education or school fees, urban (% age 15+)',
       'Borrowed from a store by buying on credit, rural (% age 15+)',
       'Borrowed from a store by buying on credit, urban (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, rural (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, urban (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, rural (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, urban (% age 15+)',
       'Borrowed any money, rural (% age 15+)',
       'Borrowed any money, urban (% age 15+)',
       'Borrowed for health or medical purposes, rural (% age 15+)',
       'Borrowed for health or medical purposes, urban (% age 15+)',
       'Borrowed from a formal financial institution, rural (% age 15+)',
       'Borrowed from a formal financial institution, urban (% age 15+)',
       'Borrowed from a savings club, rural (% age 15+)',
       'Borrowed from a savings club, urban (% age 15+)',
       'Borrowed from family or friends, rural (% age 15+)',
       'Borrowed from family or friends, urban (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, female (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, in labor force (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, income, poorest 40% (% ages 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, income, richest 60% (% ages 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, male (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, older (% age 25+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, out of labor force (% age 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, primary education or less (% ages 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, secondary education or more (% ages 15+)',
       'Borrowed any money from a formal financial institution or using a mobile money account, young (% ages 15-24)',
       'Borrowed from a savings club (% age 15+)',
       'Borrowed from a savings club, female (% age 15+)',
       'Borrowed from a savings club, in labor force (% age 15+)',
       'Borrowed from a savings club, income, poorest 40% (% ages 15+)',
       'Borrowed from a savings club, income, richest 60% (% ages 15+)',
       'Borrowed from a savings club, male (% age 15+)',
       'Borrowed from a savings club, older (% age 25+)',
       'Borrowed from a savings club, out of labor force (% age 15+)',
       'Borrowed from a savings club, primary education or less (% ages 15+)',
       'Borrowed from a savings club, secondary education or more (% ages 15+)',
       'Borrowed from a savings club, young (% ages 15-24)',
       'Borrowed for education or school fees (% age 15+)',
       'Borrowed for education or school fees, female (% age 15+)',
       'Borrowed for education or school fees, in labor force (% age 15+)',
       'Borrowed for education or school fees, income, poorest 40% (% ages 15+)',
       'Borrowed for education or school fees, income, richest 60% (% ages 15+)',
       'Borrowed for education or school fees, male (% age 15+)',
       'Borrowed for education or school fees, older (% age 25+)',
       'Borrowed for education or school fees, out of labor force (% age 15+)',
       'Borrowed for education or school fees, primary education or less (% ages 15+)',
       'Borrowed for education or school fees, secondary education or more (% ages 15+)',
       'Borrowed for education or school fees, young (% ages 15-24)',
       'Borrowed to start, operate, or expand a farm or business (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, female (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, in labor force (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, income, poorest 40% (% ages 15+)',
       'Borrowed to start, operate, or expand a farm or business, income, richest 60% (% ages 15+)',
       'Borrowed to start, operate, or expand a farm or business, male (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, older (% age 25+)',
       'Borrowed to start, operate, or expand a farm or business, out of labor force (% age 15+)',
       'Borrowed to start, operate, or expand a farm or business, primary education or less (% ages 15+)',
       'Borrowed to start, operate, or expand a farm or business, secondary education or more (% ages 15+)',
       'Borrowed to start, operate, or expand a farm or business, young (% ages 15-24)',
       'Borrowed any money (% age 15+)',
       'Borrowed any money, female (% age 15+)',
       'Borrowed any money, in labor force (% age 15+)',
       'Borrowed any money, income, poorest 40% (% ages 15+)',
       'Borrowed any money, income, richest 60% (% ages 15+)',
       'Borrowed any money, male (% age 15+)',
       'Borrowed any money, older (% age 25+)',
       'Borrowed any money, out of labor force (% age 15+)',
       'Borrowed any money, primary education or less (% ages 15+)',
       'Borrowed any money, secondary education or more (% ages 15+)',
       'Borrowed any money, young (% ages 15-24)',
       'Borrowed for health or medical purposes (% age 15+)',
       'Borrowed for health or medical purposes, female (% age 15+)',
       'Borrowed for health or medical purposes, in labor force (% age 15+)',
       'Borrowed for health or medical purposes, income, poorest 40% (% ages 15+)',
       'Borrowed for health or medical purposes, income, richest 60% (% ages 15+)',
       'Borrowed for health or medical purposes, male (% age 15+)',
       'Borrowed for health or medical purposes, older (% age 25+)',
       'Borrowed for health or medical purposes, out of labor force (% age 15+)',
       'Borrowed for health or medical purposes, primary education or less (% ages 15+)',
       'Borrowed for health or medical purposes, secondary education or more (% ages 15+)',
       'Borrowed for health or medical purposes, young (% ages 15-24)',
       'Borrowed from a formal financial institution, income, poorest 40% (% ages 15+)',
       'Borrowed from a formal financial institution, income, richest 60% (% ages 15+)',
       'Borrowed from a store by buying on credit, income, poorest 40% (% ages 15+)',
       'Borrowed from a store by buying on credit, income, richest 60% (% ages 15+)',
       'Borrowed from family or friends, income, poorest 40% (% ages 15+)',
       'Borrowed from family or friends, income, richest 60% (% ages 15+)',
       'Borrowed from a store by buying on credit (% age 15+)',
       'Borrowed from a store by buying on credit, female (% age 15+)',
       'Borrowed from a store by buying on credit, in labor force (% age 15+)',
       'Borrowed from a store by buying on credit, male (% age 15+)',
       'Borrowed from a store by buying on credit, older (% age 25+)',
       'Borrowed from a store by buying on credit, out of labor force (% age 15+)',
       'Borrowed from a store by buying on credit, primary education or less (% ages 15+)',
       'Borrowed from a store by buying on credit, secondary education or more (% ages 15+)',
       'Borrowed from a store by buying on credit, young (% ages 15-24)'],
      dtype=object)

In [22]:
borrowed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21712 entries, 0 to 21711
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  21712 non-null  object
 1   Country Code  21712 non-null  object
 2   Series Name   21712 non-null  object
 3   Series Code   21712 non-null  object
 4   2011          5388 non-null   float64
 5   2014          12418 non-null  float64
 6   2017          10536 non-null  float64
 7   2021          9855 non-null   float64
 8   2022          1197 non-null   float64
dtypes: float64(5), object(4)
memory usage: 1.7+ MB